.banner_img{
  position: relative;
}
.img::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
    to bottom,
    Orgba(225, 225, 225, 0),
    Irgba(255, 255, 255)
  );
}
